<form method="post" id="attendance-form" action="{% url 'add_attendance' %}">
  {% csrf_token %}
  <div class="modal-header bg-secondary text-white">
    <h5 class="modal-title">Add Attendance</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ attendance_form.as_p }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</form>
