{% extends 'base.html' %}
{% load static %}

{% block content %}

      <div class="page-title dark-background" style="background-image: url({% static 'assets/img/kalabu/kalabumissionchurch.jpg' %});">
        <div class="container position-relative">
        <h1>About Us</h1>
        <p>Everything about us at Kalabu Primary School.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- End Page Title -->
    <!-- History Section -->
    <section id="history" class="history section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center g-5">
          <div class="col-lg-6">
            <div class="about-content" data-aos="fade-up" data-aos-delay="200">
              <h3>Our Story</h3>
              <h2>Educating Minds, Inspiring Hearts</h2>
              <p>At the primary school level, educating minds and inspiring hearts lays the essential foundation for lifelong learning, character development, and a love for knowledge from an early age.</p>

              <div class="timeline">
                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <h2>Our History</h2>
                  <div class="timeline-content">
                    <h4>Founded mid-20th century</h4>
                    <p>Kalabu Mission School began as a small community-run school drawing student from the Kalabu settlement and surrounding suburbs (Samabula and Laqere) 
                        The school was located near Laqere Quarry from its early days with the help of the missionaries running the school. The quarries at Laqere  Nasinu began its operation in the early 1930s which prompted the shifting of Kalabu Mission School to Kalabu Village.
                    </p>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <h4>1930s – 1940s</h4>
                    <p>The school was built on a piece of land known as Naitiqatiqa where it was being operated by Missionaries, the land is located at Kalabu Village which is now the residence of former school Manager Mr. Asaeli Malewa of Kalabu Village.This period the Laqere Bridge was a trading center for coastal villages in the Rewa Delta.</p>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <h4>Early 1950s</h4>
                    <p>In the early 1950s the school was shifted to its present site. Kalabu Mission School was led by Missionaries M & Mrs. Jack Hazel Easton.</p>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <h4>1960s</h4>
                    <p>It was a fully-fledged school led by Mr. Joni Tabuya from Tilliva,, Nakasaleka Kadavu In 1960 the school was formalized as KALABU FIJIAN SCHOOL and given a registration number. In 1812 From its early days, Kalabu Primary was closely tied to the community. In 1966, Ratu David Toganivalu spoke at the school during the establishment of a Fijian Association branch, highlighting community involvement 
                      The school served a diverse student body, including Fijian and part-Chinese children from multiple suburbs.
                    </p>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <h4>1969 – 1970s</h4>
                    <p>By 1969, the school hosted about 309 students, housed across two aging wooden classrooms, a few dilapidated traditional bures, and a tin shack. Conditions were poor with issues such as exposed walls, leaking roofs, and muddy access paths 
                      Governance rested with a local management committee that had lapsed in activity, leading to structural deterioration. Appeals for government support in 1959 and 1965 were rejected until a small grant of FJ $2,200 was finally provided in 1969.
                    </p>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <h4>1970s – 1980s</h4>
                    <p>From the period of 1970s to 1980s the school developed much further by expanding its operation. New Building was built and more plans to develop the school was implemented.</p>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <h4>1990s – 2000s</h4>
                    <p>Kalabu Fijian School underwent a significant phase of development that helped shape the modern face of the school today. This decade marked major improvements in infrastructure to accommodate a growing student population and to enhance the quality of education.
                          Key Developments:
                          •	✅ Double-Story Building Completed:
                          A major milestone was the construction and completion of a double-story classroom block. This expansion provided additional classrooms, helping to ease overcrowding and allowing for better learning environments.
                          •	✅ Multi-Purpose Hall Built:
                          A multi-purpose hall was also constructed during this period. The hall became a central hub for school activities, including assemblies, cultural events, meetings, and indoor sports.
                          These developments reflected the strong support from the community, the school management, and relevant government ministries, all working together to improve the standard of education in the Kalabu area.
                    </p>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-content">
                    <h4>LATE 2000 to Date</h4>
                    <p>The school’s name was changed to KALABU PRIMARY SCHOOL and a new ECE was established in 2024 known as KALABU ECE.</p>
                  </div>
                </div>

              </div>
              <h4>Expansion & Development</h4>
              <p>As enrolment climbed—now reaching approximately 700 primary students and 200 secondary students—the need for expanded facilities became a priority 
              In recent years, significant upgrades were made under Japan’s Grassroots Human Security Projects. In November 2024, a new kindergarten classroom and ablution block were officially opened, funded by a FJ $382,000 donation from the Japanese government 
              This initiative reflects a transformation from its humble beginnings—improving student health, hygiene, and early learning infrastructure.
              </p>
              <h4>PRESENT STAGE</h4>
              <p>The school is now enrolling 650 students and is being assisted by 20 teachers from humble beginnings Kalabu Primary School acknowledges the past teachers and Missionaries that have contributed to the establishment of the school. The school is fortunate to have enrolled thousands of students including educating past and present leaders including a former Prime Minister of Fiji the late Mr. Laisenia Qarase.</p>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- Mission Image Section -->
            <div class="row mb-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                <img src="{% static 'assets/img/kalabu/mission.jpg' %}" alt="Mission Image" class="img-fluid rounded-4 shadow-lg" style="max-height: 400px; object-fit: cover;">
              </div>
            </div>

            <div class="about-image" data-aos="zoom-in" data-aos-delay="300">
              <img src="{% static 'assets/img/kalabu/leader.png' %}" alt="Campus" class="img-fluid rounded">

              <div class="mission-vision" data-aos="fade-up" data-aos-delay="400">
                <div class="mission">
                  <h3>Our Mission</h3>
                  <p>To cultivate holistic, relevant and inclusive learning experiences benchmarked to global practices that empower independent, resposible and critical learners enabling them to effectively adapt and address the nation's changing socio-economic needs and enrich the nation's future.</p>
                </div>

                <div class="vision">
                  <h3>Our Vision</h3>
                  <p>Empowering Fiji’s Future: Nurturing innovative, lifelong learners and enriching lives through quality education delivery for all.</p>
                </div>
              </div>
            </div>

            <!-- ECE Image Section -->
            <div class="row mt-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                <img src="{% static 'assets/img/kalabu/kindyclassroom.png' %}" alt="ECE Image" class="img-fluid rounded-4 shadow-lg" style="max-height: 400px; object-fit: cover;">
              </div>
            </div>

            <!-- ECE Image Section -->
            <div class="row mt-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                <img src="{% static 'assets/img/kalabu/kindy.jpg' %}" alt="Mission Image" class="img-fluid rounded-4 shadow-lg" style="max-height: 400px; object-fit: cover;">
              </div>
            </div>

            <!-- Video Section -->
            <div class="row mt-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                <video autoplay muted loop playsinline class="rounded-4 shadow-lg" style="max-height: 400px; width: 100%; object-fit: cover;">
                  <source src="{% static 'assets/img/kalabu/homepage.mp4' %}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>

            <!-- ECE Image Section -->
            <div class="row mt-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                <img src="{% static 'assets/img/kalabu/campus.png' %}" alt="Mission Image" class="img-fluid rounded-4 shadow-lg" style="max-height: 400px; object-fit: cover;">
              </div>
            </div>



          </div>
        </div>

      </div>

    </section><!-- /History Section -->

    <!-- Office Staff Section -->
    <section id="leadership" class="leadership section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row mb-5">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
            <h3 class="section-subtitle">Meet Our Leadership</h3>
            <h2 class="section-heading">Dedicated Administration Guiding Our Educational Excellence</h2>
            <p class="section-description">Dedicated administration plays a vital role in shaping the success of a primary school. Through strong leadership and clear direction, 
            school administrators ensure that educational goals are met and continuously improved. Their commitment to excellence supports teachers, empowers students, and fosters a positive learning environment. By guiding daily operations with care and purpose, they lay the foundation for academic achievement and holistic development.</p>
            <div class="stats-container mt-4">
        <!--      <div class="row">
                <div class="col-md-4 col-6">
                  <div class="stat-item">
                    <h3>25+</h3>
                    <p>Years of Excellence</p>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="stat-item">
                    <h3>45+</h3>
                    <p>Faculty Members</p>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="stat-item">
                    <h3>98%</h3>
                    <p>Student Success</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
            <div class="about-image">
              <img src="{% static 'assets/img/kalabu/fili.png' %}" alt="Our Leadership Team" class="img-fluid rounded">
            </div>
          </div>
        </div>
<!--
        <h2 class="section-heading">Our Office Staff</h2>
        <div class="leadership-team">
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-m-2.webp' %}" alt="Principal" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Dr. Michael Anderson</h4>
                  <p class="position">Principal</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-3.webp' %}" alt="Vice Principal" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Dr. Sarah Johnson</h4>
                  <p class="position">Vice Principal</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-m-5.webp' %}" alt="Dean of Students" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Prof. David Martinez</h4>
                  <p class="position">Dean of Students</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-8.webp' %}" alt="Academic Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Dr. Emily Chen</h4>
                  <p class="position">Academic Director</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-m-7.webp' %}" alt="Financial Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Robert Wilson</h4>
                  <p class="position">Financial Director</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-10.webp' %}" alt="Head of Admissions" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Jessica Parker</h4>
                  <p class="position">Head of Admissions</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-m-11.webp' %}" alt="IT Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Thomas Lee</h4>
                  <p class="position">IT Director</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-m-5.webp' %}" alt="Student Welfare Officer" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Amanda Rodriguez</h4>
                  <p class="position">Student Welfare Officer</p>
                  <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus lectus a facilisis bibendum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      -->
      </div>

    </section>
    <!-- Office Staff Section -->

    <!-- Teaching Section -->
    <section id="leadership" class="leadership section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2 class="section-heading">Our Staff Members</h2>
        <div class="leadership-team">
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/staff/kiti.png' %}" alt="Principal" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mr. Kitione Turagabeci</h4>
                  <p class="position">Head Teacher</p>
                  <p class="bio">TPF #66522</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/staff/ananaiasa.png' %}" alt="Vice Principal" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mr. Ananaiasa Nodrakoro</h4>
                  <p class="position">Year 8A</p>
                  <p class="bio">TPF #67550</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/staff/fili.png' %}" alt="Dean of Students" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mr. Filimoni Ligaimatau</h4>
                  <p class="position">Year 8B</p>
                  <p class="bio">TPF #66557</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/staff/livai.png' %}" alt="Academic Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mr. Livai Rokovoivoidrau</h4>
                  <p class="position">Year 7A</p>
                  <p class="bio">TPF #67174</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-10.webp' %}" alt="Financial Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. Titilia Vutovuto</h4>
                  <p class="position">Year 7B</p>
                  <p class="bio">TPF #113371</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-10.webp' %}" alt="Head of Admissions" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Miss Sainiana Lewatu</h4>
                  <p class="position">Year 6A</p>
                  <p class="bio">TPF #112566</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-10.webp' %}" alt="IT Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. B Tamanilolo</h4>
                  <p class="position">Year 6B</p>
                  <p class="bio">TPF #44912</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-m-5.webp' %}" alt="Student Welfare Officer" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mr. Dipak Nand</h4>
                  <p class="position">Year 5B</p>
                  <p class="bio">TPF #</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-10.webp' %}" alt="Financial Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. Josivini Tuiniwasa</h4>
                  <p class="position">Year 5A</p>
                  <p class="bio">TPF #</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-m-10.webp' %}" alt="Head of Admissions" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mr. Vilimone Vatuvosa</h4>
                  <p class="position">Year 4A</p>
                  <p class="bio">TPF #114482</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-9.webp' %}" alt="IT Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs Laisani Teresia</h4>
                  <p class="position">Year 4B</p>
                  <p class="bio">TPF #112305</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-5.webp' %}" alt="Student Welfare Officer" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. Maria Vaciloa</h4>
                  <p class="position">Year 3A</p>
                  <p class="bio">TPF #57569</p>
                </div>
              </div>
            </div>
          </div>
        

          <div class="row">
              <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="leader-card">
                  <div class="leader-image">
                    <img src="{% static 'assets/img/person/person-f-8.webp' %}" alt="Financial Director" class="img-fluid">
                    <div class="social-links">
                      <a href="#"><i class="bi bi-linkedin"></i></a>
                      <a href="#"><i class="bi bi-twitter-x"></i></a>
                      <a href="#"><i class="bi bi-envelope"></i></a>
                    </div>
                  </div>
                  <div class="leader-info">
                    <h4>Mrs. Vasemaca Qura</h4>
                    <p class="position">Year 3B</p>
                    <p class="bio">TPF #114552</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="leader-card">
                  <div class="leader-image">
                    <img src="{% static 'assets/img/person/person-f-10.webp' %}" alt="Head of Admissions" class="img-fluid">
                    <div class="social-links">
                      <a href="#"><i class="bi bi-linkedin"></i></a>
                      <a href="#"><i class="bi bi-twitter-x"></i></a>
                      <a href="#"><i class="bi bi-envelope"></i></a>
                    </div>
                  </div>
                  <div class="leader-info">
                    <h4>Miss Divashna Lata</h4>
                    <p class="position">Year 2A</p>
                    <p class="bio">TPF #115132</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class="leader-card">
                  <div class="leader-image">
                    <img src="{% static 'assets/img/person/person-f-9.webp' %}" alt="IT Director" class="img-fluid">
                    <div class="social-links">
                      <a href="#"><i class="bi bi-linkedin"></i></a>
                      <a href="#"><i class="bi bi-twitter-x"></i></a>
                      <a href="#"><i class="bi bi-envelope"></i></a>
                    </div>
                  </div>
                  <div class="leader-info">
                    <h4>Mrs. Asena Lomani</h4>
                    <p class="position">Year 2B</p>
                    <p class="bio">TPF #</p>
                  </div>
                </div>
              </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-5.webp' %}" alt="Student Welfare Officer" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. K Rakavosa</h4>
                  <p class="position">2C</p>
                  <p class="bio">TPF #</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-5.webp' %}" alt="Student Welfare Officer" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. Josivini Tuiniwasa</h4>
                  <p class="position">1A</p>
                  <p class="bio">TPF #</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-10.webp' %}" alt="Financial Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. Kelera Whippy</h4>
                  <p class="position">Year 1B</p>
                  <p class="bio">TPF #</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-2.webp' %}" alt="Head of Admissions" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs.R Lata</h4>
                  <p class="position">ECE</p>
                  <p class="bio">TPF #113310</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
              <div class="leader-card">
                <div class="leader-image">
                  <img src="{% static 'assets/img/person/person-f-3.webp' %}" alt="IT Director" class="img-fluid">
                  <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-envelope"></i></a>
                  </div>
                </div>
                <div class="leader-info">
                  <h4>Mrs. Bui Rita</h4>
                  <p class="position">ECE</p>
                  <p class="bio">TPF #114184</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Teaching Section -->

  


{% endblock %}