{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url({% static 'assets/img/kalabu/students.png' %});">
    <div class="container position-relative">
      <h2 class="mt-2">Welcome to Kalabu Primary School Admin</h2>
      <p></p>
    </div>
  </div>

<div class="container mt-5 mb-5" style="max-width: 500px;">
    <h2 class="mb-4 text-center">Login</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
            {{ form.username|add_class:"form-control" }}
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
            {{ form.password|add_class:"form-control" }}
            {{ form.password.errors }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>
{% endblock %}
