{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="page-title dark-background" style="background-image: url({% static 'assets/img/kalabu/students.png' %});">
    <div class="container position-relative">
        <h1>News in {{ category.name }}</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{% url 'news:news_list' %}">Home</a></li>
                <li><a href="{% url 'news:news_list' %}">News</a></li>
                <li class="current">{{ category.name }}</li>
            </ol>
        </nav>
    </div>
</div>

<section class="section py-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                {% for post in news_posts %}
                    <!-- Your news card template here -->
                {% empty %}
                    <p>No news in this category yet.</p>
                {% endfor %}
            </div>
            
            <!-- Sidebar with recent news and categories -->
            <div class="col-lg-4">
                {% include 'news/partials/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}